<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<div class="text-center  ">
  <%= link_to "Back to users", users_path , class:"border border-none bg-gray-300 w-fit p-2 rounded-md hover:bg-opacity-80"%>
</div>
